$body-background-color: #ECF0E7;
$app-background-color: #5C5457;
$row-background-color: #4A5E82;
$tv-icon-border-color: #E1E1E6;

$slider-text-color: $app-background-color;

$all-slider-icon-color: $app-background-color;
$online-slider-icon-color: #B6CAA4;
$offline-slider-icon-color: #869DB7;

$header-text-color: $tv-icon-border-color;
$tv-channel-seperator-color: $tv-icon-border-color;
$tv-channel-text-color: #AECCA6;
$tv-channel-status-text-color: #8AA6C2;

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Droid+Serif:400,400italic);

html, body, #react-app {
	height: 100%;
	background-color: $body-background-color;
	font-family: 'Droid Serif', serif;
  	font-size: 14px;
}

.heading {
	background-color: $app-background-color;
	color: $header-text-color;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 3em;
	margin-top: 1%;

	.heading-text {
		margin-left: 15%;
		margin-top: 3%;
	}

	.heading-menu {
		font-size: .29em;
		display: inline;
	}
}

.menu {

	margin-top: 13px;
	margin-bottom: 15px;

	.slide {
		color: $body-background-color;
		background-color: $body-background-color;
		transform: translateX(75%);


		& > .row {
			max-height: 20px;
		}

		.slide-icon {
			border: 1px solid $app-background-color;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin-top: 5px;
			margin-left: 5px;

			&.all {
				background-color: $all-slider-icon-color;
			}

			&.online {
				background-color: $online-slider-icon-color;
			}

			&.offline {
				background-color: $offline-slider-icon-color;
			}
		} 

		.slide-text {
			text-transform: uppercase;
			text-align: right;
			margin-bottom: -4px;
			margin-top: 1px;
		}

		&:hover {
			$sliding-animation-time: .5s;
			$color-transition-time: .1s;

			cursor: pointer;
			color: $slider-text-color;
			animation: sliding $sliding-animation-time linear forwards;
			transition: color $color-transition-time ease-in $sliding-animation-time;

			@keyframes sliding {
				from {
					transform: translateX(75%);
				}
				to {
					transform: translateX(5%);
				}
			}
		}

		&.active {
			transform: translateX(5%);
		}
	}
}

.channel-row {

	$top-bottom-margin: 2px;

	background-color: $row-background-color;
	color: $tv-channel-text-color;
	min-height: 60px;
	
	&:first-child {
		margin-top: -8px;
	}

	& > .row {
		padding-top: 2.5%;
	}

	margin-top: $top-bottom-margin;
	margin-bottom: $top-bottom-margin;

	.channel-img {
		border: 2px solid $tv-icon-border-color;
		width: 100px;
		
	}

	.channel-name {
		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.channel-status {
		overflow: hidden;
 		white-space: nowrap;
  		text-overflow: ellipsis;
	}
}

.footer {
	height: 9px;
	background-color: $app-background-color;
}